* {
  box-sizing: border-box;
  margin: 0;
}
body {
  display: flex;
  min-height: 95vh;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(212, 239, 239);
}

.container {
  font-size: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(224, 168, 144);
  border: 2px solid black;
}

button {
  padding: 30px;
  border: 2px solid black;
  flex: 1;
  width: 25%;
  font-size: large;
}
#zero {
  width: 50%;
}

.btn:hover {
  background-color: aquamarine;
}
.displayer {
  background-color: #b9b8b8;
  width: 100%;
}
.special {
  background-color: rgb(219, 206, 146);
}

.operator {
  background-color: rgb(191, 236, 236);
}
.number {
  background-color: rgb(215, 139, 139);
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}
