* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display {
  margin-top: 50px;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  width: 400px;
  background-color: rgb(149, 150, 146);
  border: 4px solid black;
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
  display: flex;
  background-color: aquamarine;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  width: 400px;
  height: 100px;
}
